#timeline {
	position: fixed;
	bottom: -5px;
	left: 50%;
	@include transform(translate(-50%,0));
	@include transition(opacity, 750ms, ease-out);
	opacity: 0;
	pointer-events: none;
	width: 100%;
	z-index: 100;
	input{
		width: 60%;
		margin: 0px 20%;
	}
	#slider {
	}
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}



/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 2px;
  background: black;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 2px;
  background: black;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 2px;
  background: black;
  cursor: pointer;
}




input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #a6a5a5;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  // background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #a6a5a5;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
}
input[type=range]:focus::-ms-fill-lower {
  // background: #a6a5a5;
}
input[type=range]::-ms-fill-upper {
  background: #a6a5a5;
  border: 0.2px solid #010101;
}
input[type=range]:focus::-ms-fill-upper {
  // background: #367ebd;
}

@media (max-width: 640px){
	}
}