/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
html, body, .wrapper {
	min-height:100%;
}
$font: 'Open Sans', sans-serif;
$dpink: #fd7cab;
$lpink: #fec0d7;
$dbrown: #c7b29a;
$lbrown: #e1d7cb;
$dblue: #689cc3;

@import "compass/reset";
@import "scrollbar.scss";

#header {
	height: 165px;
	width: 100%;
	position: fixed;
	z-index: 10;
	pointer-events: none;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,0.9) 40%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(33%,rgba(255,255,255,1)), color-stop(40%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0.9) 40%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0.9) 40%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0.9) 40%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 33%,rgba(255,255,255,0.9) 40%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	h1 {
		margin-top: 25px;
		opacity: 0;
	}
	a {
		position: fixed;
		top: 50%; left: 50%;
		@include transform(translate(-50%,-50%));
		font-family: $font;
		text-decoration: none;
		color: black;
		opacity: .6;
		cursor: pointer;
		cursor: hand;
		display: block;
	}
	img {
	}
}



.wrapper { 
	width: 100%; overflow: hidden;
	>div {
		width: 100%;
		font-family: $font;
		width: 40%;
		margin-bottom: 25px;
		// max-width: 500px;
		ul {
			margin-top: -15px;
			li {
				float: left;
				margin-right: 10px;
				font-size: .7em;
				color: rgba(0,0,0,.5);
			}
			li:last-child {
				margin-right: 0px;
			}
		}
		.attachments {
			float: left;
			margin-top: 15px;
		}
		h1 {
			font-size: 1em;
			font-weight: bold;
			padding: 25px 0px 15px 0px;
			line-height: 1.2em;
		}
		h2 {
			padding: 0px 2.5%;
			font-size: 1em;
			font-weight: 300;
			font-style: italic;
			margin-bottom: 10px;
		}
		p:first-of-type {
			padding: 15px;
		}
		p{
			font-size: .9em;
			line-height: 1.3em;
			padding: 0px 15px 15px 15px;
			color: white;
			position: relative;
		}
		p:after {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0px;
			z-index: 0;
			width: 0;
			height: 0;
			border-right: 15px solid transparent;
			@include transform(translate(0%,100%));
		}
	}

	>div.left{
		h1{
			border-top: 2px solid pink;
		}
		ul {
			float: left;
		}
	}
	>div.right, >div.middle{
		h1{
			border-top: 2px solid #7bccf6;
		}
		ul {
			float: right;
		}
	}
	>div.someone {
		h1 {
			border-top: 2px solid grey;
		}
	}
	>div:last-child {
		padding-bottom:0px;
	}
	.left {
		margin-left: 10%;
		margin-right: 30%;
		clear: both;
		p {
			background-color: $dbrown;
		}
		p:after {
			border-top: 15px solid $dbrown;
			border-left: 15px solid transparent;
			border-right: none;
			left: auto; right: 0px;
		}
		h2 {
			color: $dbrown;
		}
	}
	.right {
		float: right;
		margin-right: 10%;
		margin-left: 30%;
		p {
			background-color: $dpink;
			position: relative;
			z-index: 1;
		}
		p:after{
			border-top: 15px solid $dpink;
		}
		h2 {
			color: $dpink;
		}
	}	
	.middle {
		float: right;
		width: 60%; 
		margin-right: 20%;
		margin-left: 20%;
		z-index: 1;
		position: relative;
	}
}
@media (max-width: 640px){
	#header {
		height: 155px;
	}
	.wrapper {
		.left, .right, .middle {
			width: 80%; 
			margin-left: 10%;
		}
		.middle {
			float: left;
		}
		>div {
			>div {
				padding-bottom: 50px;
			}
		}
	}
}
