/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_scrollbar.scss */
#timeline {
  position: fixed;
  bottom: 0px;
  left: 0px;
  -webkit-transition: opacity 750ms ease-out;
  -moz-transition: opacity 750ms ease-out;
  -ms-transition: opacity 750ms ease-out;
  -o-transition: opacity 750ms ease-out;
  transition: opacity 750ms ease-out;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  z-index: 100;
}
/* line 10, ../sass/_scrollbar.scss */
#timeline input {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
/* line 18, ../sass/_scrollbar.scss */
#timeline .leftFill {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 50%;
  background-color: #ccc;
  pointer-events: none;
}

/* line 27, ../sass/_scrollbar.scss */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
}

/* line 32, ../sass/_scrollbar.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* line 36, ../sass/_scrollbar.scss */
input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* line 40, ../sass/_scrollbar.scss */
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
/* line 51, ../sass/_scrollbar.scss */
input[type=range]::-webkit-slider-thumb {
  position: relative;
  z-index: 150;
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 5px;
  background: #aaa;
  cursor: pointer;
  margin-top: 0px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
/* line 64, ../sass/_scrollbar.scss */
input[type=range]::-moz-range-thumb {
  position: relative;
  z-index: 150;
  border: 1px solid #000000;
  height: 20px;
  width: 5px;
  background: #aaa;
  cursor: pointer;
}

/* All the same stuff for IE */
/* line 75, ../sass/_scrollbar.scss */
input[type=range]::-ms-thumb {
  position: relative;
  z-index: 150;
  border: 1px solid #000000;
  height: 20px;
  width: 5px;
  background: #aaa;
  cursor: pointer;
}

/* line 88, ../sass/_scrollbar.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: white;
  border: 0.2px solid #010101;
}

/* line 100, ../sass/_scrollbar.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: white;
  border: 0.2px solid #010101;
}

/* line 108, ../sass/_scrollbar.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

/* line 117, ../sass/_scrollbar.scss */
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
}

/* line 124, ../sass/_scrollbar.scss */
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #010101;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 7, 2015 */
@font-face {
  font-family: 'mission_scriptregular';
  src: url("../fonts/Mission-Script-webfont.eot");
  src: url("../fonts/Mission-Script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Mission-Script-webfont.woff2") format("woff2"), url("../fonts/Mission-Script-webfont.woff") format("woff"), url("../fonts/Mission-Script-webfont.ttf") format("truetype"), url("../fonts/Mission-Script-webfont.svg#mission_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 39, ../sass/style.scss */
#header {
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
  background: -moz-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(33%, white), color-stop(40%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 55, ../sass/style.scss */
#header h1 {
  font-family: mission_scriptregular;
  text-decoration: none;
  color: #c7b29a;
  cursor: pointer;
  cursor: hand;
  display: block;
  font-size: 15vw;
  width: auto;
  -moz-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}
/* line 65, ../sass/style.scss */
#header h1 span {
  color: #fd7cab;
}

/* line 74, ../sass/style.scss */
footer {
  width: 100%;
  height: 10px;
  background-color: black;
}

/* line 79, ../sass/style.scss */
#controls {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 15;
  color: white;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

/* line 87, ../sass/style.scss */
#date {
  padding: 3px 10px 0px 10px;
  line-height: 32px;
}

/* line 91, ../sass/style.scss */
#date, #backToTop {
  float: left;
  background-color: #fec0d7;
}

/* line 95, ../sass/style.scss */
#backToTop {
  height: 35px;
  width: 35px;
  background-color: #fec0d7;
  margin-left: 5px;
}

/* line 101, ../sass/style.scss */
.wrapper {
  width: 100%;
  overflow: hidden;
}
/* line 103, ../sass/style.scss */
.wrapper > div {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  width: 40%;
  margin-bottom: 25px;
  word-break: break-all;
  word-break: break-word;
}
/* line 111, ../sass/style.scss */
.wrapper > div .attachments {
  float: left;
  margin-top: 15px;
}
/* line 115, ../sass/style.scss */
.wrapper > div h1 {
  font-size: 1em;
  font-weight: bold;
  padding: 25px 0px 15px 0px;
  line-height: 1.2em;
}
/* line 121, ../sass/style.scss */
.wrapper > div h2 {
  padding: 0px 2.5%;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 128, ../sass/style.scss */
.wrapper > div p:first-of-type {
  padding: 15px;
}
/* line 131, ../sass/style.scss */
.wrapper > div p {
  font-size: .9em;
  line-height: 1.3em;
  padding: 0px 15px 15px 15px;
  color: white;
  position: relative;
}
/* line 137, ../sass/style.scss */
.wrapper > div p a {
  display: inline-block;
  word-wrap: break-word;
}
/* line 141, ../sass/style.scss */
.wrapper > div p ul {
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 145, ../sass/style.scss */
.wrapper > div p ul li a {
  color: grey;
}
/* line 151, ../sass/style.scss */
.wrapper > div p:after {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0px;
  z-index: 0;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  -moz-transform: translate(0%, 100%);
  -o-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}
/* line 165, ../sass/style.scss */
.wrapper > div.left a {
  color: #e1d7cb;
}
/* line 168, ../sass/style.scss */
.wrapper > div.left h1 {
  border-top: 2px solid pink;
}
/* line 174, ../sass/style.scss */
.wrapper > div.right a, .wrapper > div.middle a {
  color: #fec0d7;
}
/* line 177, ../sass/style.scss */
.wrapper > div.right h1, .wrapper > div.middle h1 {
  border-top: 2px solid #7bccf6;
}
/* line 182, ../sass/style.scss */
.wrapper > div.someone h1 {
  border-top: 2px solid grey;
}
/* line 186, ../sass/style.scss */
.wrapper > div:last-child {
  padding-bottom: 0px;
}
/* line 189, ../sass/style.scss */
.wrapper .left.active {
  opacity: 1;
}
/* line 191, ../sass/style.scss */
.wrapper .left.active p {
  background-color: #c7b29a;
  color: white;
  border: none;
}
/* line 196, ../sass/style.scss */
.wrapper .left.active p:after {
  opacity: 1;
  bottom: 0px;
  opacity: 1;
  -moz-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
/* line 203, ../sass/style.scss */
.wrapper .right.active {
  opacity: 1;
}
/* line 205, ../sass/style.scss */
.wrapper .right.active p {
  background-color: #fd7cab;
  color: white;
  border: none;
}
/* line 210, ../sass/style.scss */
.wrapper .right.active p:after {
  opacity: 1;
  bottom: 0px;
  opacity: 1;
  -moz-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
/* line 217, ../sass/style.scss */
.wrapper .left, .wrapper .right {
  -webkit-transition: all 750ms ease-out;
  -moz-transition: all 750ms ease-out;
  -ms-transition: all 750ms ease-out;
  -o-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}
/* line 219, ../sass/style.scss */
.wrapper .left p, .wrapper .left p:after, .wrapper .right p, .wrapper .right p:after {
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
/* line 225, ../sass/style.scss */
.wrapper .left {
  margin-left: 10%;
  margin-right: 30%;
  clear: both;
  opacity: .3;
}
/* line 230, ../sass/style.scss */
.wrapper .left p {
  background-color: transparent;
  border: 1px solid #c7b29a;
  box-sizing: border-box;
  color: #c7b29a;
}
/* line 236, ../sass/style.scss */
.wrapper .left p:after {
  border-top: 15px solid #c7b29a;
  border-left: 15px solid transparent;
  border-right: none;
  left: auto;
  right: 0px;
  opacity: 0;
}
/* line 243, ../sass/style.scss */
.wrapper .left h2 {
  color: #c7b29a;
}
/* line 247, ../sass/style.scss */
.wrapper .right {
  float: right;
  margin-right: 10%;
  margin-left: 30%;
  opacity: .3;
}
/* line 252, ../sass/style.scss */
.wrapper .right p {
  background-color: transparent;
  border: 1px solid #fd7cab;
  box-sizing: border-box;
  color: #fd7cab;
  position: relative;
  z-index: 1;
}
/* line 260, ../sass/style.scss */
.wrapper .right p:after {
  border-top: 15px solid #fd7cab;
  opacity: 0;
}
/* line 264, ../sass/style.scss */
.wrapper .right h2 {
  color: #fd7cab;
}
/* line 268, ../sass/style.scss */
.wrapper .middle {
  float: right;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  z-index: 1;
  position: relative;
}

@media (max-width: 640px) {
  /* line 278, ../sass/style.scss */
  #header {
    height: 155px;
  }

  /* line 282, ../sass/style.scss */
  .wrapper .left, .wrapper .right, .wrapper .middle {
    width: 80%;
    margin-left: 10%;
  }
  /* line 286, ../sass/style.scss */
  .wrapper .middle {
    float: left;
  }
  /* line 290, ../sass/style.scss */
  .wrapper > div > div {
    padding-bottom: 50px;
  }
}
