/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 26, ../sass/style.scss */
html, body {
  overflow: hidden;
}

/* line 30, ../sass/style.scss */
.wrap {
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

/* line 33, ../sass/style.scss */
.hide {
  opacity: .5;
}

/* line 5, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/rubies/ruby-2.1.3/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_scrollbar.scss */
#timeline {
  position: fixed;
  bottom: 0px;
  left: 0px;
  -webkit-transition: opacity 750ms ease-out;
  -moz-transition: opacity 750ms ease-out;
  -ms-transition: opacity 750ms ease-out;
  -o-transition: opacity 750ms ease-out;
  transition: opacity 750ms ease-out;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  z-index: 100;
}
/* line 10, ../sass/_scrollbar.scss */
#timeline input {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
/* line 18, ../sass/_scrollbar.scss */
#timeline .leftFill {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 50%;
  background-color: #ccc;
  pointer-events: none;
}

/* line 27, ../sass/_scrollbar.scss */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
}

/* line 32, ../sass/_scrollbar.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* line 36, ../sass/_scrollbar.scss */
input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* line 40, ../sass/_scrollbar.scss */
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
/* line 51, ../sass/_scrollbar.scss */
input[type=range]::-webkit-slider-thumb {
  position: relative;
  z-index: 150;
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 5px;
  background: #aaa;
  cursor: pointer;
  margin-top: 0px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
/* line 64, ../sass/_scrollbar.scss */
input[type=range]::-moz-range-thumb {
  position: relative;
  z-index: 150;
  border: 1px solid #000000;
  height: 20px;
  width: 5px;
  background: #aaa;
  cursor: pointer;
}

/* All the same stuff for IE */
/* line 75, ../sass/_scrollbar.scss */
input[type=range]::-ms-thumb {
  position: relative;
  z-index: 150;
  border: 1px solid #000000;
  height: 20px;
  width: 5px;
  background: #aaa;
  cursor: pointer;
}

/* line 88, ../sass/_scrollbar.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: white;
  border: 0.2px solid #010101;
}

/* line 100, ../sass/_scrollbar.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: white;
  border: 0.2px solid #010101;
}

/* line 108, ../sass/_scrollbar.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

/* line 117, ../sass/_scrollbar.scss */
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
}

/* line 124, ../sass/_scrollbar.scss */
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #010101;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 7, 2015 */
@font-face {
  font-family: 'mission_scriptregular';
  src: url("../fonts/Mission-Script-webfont.eot");
  src: url("../fonts/Mission-Script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Mission-Script-webfont.woff2") format("woff2"), url("../fonts/Mission-Script-webfont.woff") format("woff"), url("../fonts/Mission-Script-webfont.ttf") format("truetype"), url("../fonts/Mission-Script-webfont.svg#mission_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 48, ../sass/style.scss */
.animate {
  -webkit-transition: all 550ms ease-out;
  -moz-transition: all 550ms ease-out;
  -ms-transition: all 550ms ease-out;
  -o-transition: all 550ms ease-out;
  transition: all 550ms ease-out;
}

/* line 51, ../sass/style.scss */
#header {
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
  position: relative;
  background: -moz-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(33%, white), color-stop(40%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, white 33%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 75, ../sass/style.scss */
#header .loading {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-family: helvetica;
  color: #c7b29a;
  font-size: 13px;
  font-style: italic;
}
/* line 84, ../sass/style.scss */
#header h1 {
  font-family: mission_scriptregular;
  text-decoration: none;
  color: #c7b29a;
  cursor: pointer;
  cursor: hand;
  display: block;
  font-size: 15vw;
  width: auto;
  width: 90%;
  max-width: 500px;
  text-index: -9999em;
}
/* line 96, ../sass/style.scss */
#header h1 span {
  color: #fd7cab;
}
/* line 100, ../sass/style.scss */
#header .docked {
  position: fixed;
  top: 15px;
  height: 100px;
  width: 200px;
}

/* line 111, ../sass/style.scss */
footer {
  width: 100%;
  background-color: #e1d7cb;
  height: 0px;
}
/* line 115, ../sass/style.scss */
footer img {
  width: 220px;
  margin: auto;
  display: block;
  padding: 25px 0px 5px 0px;
}
/* line 121, ../sass/style.scss */
footer p {
  color: white;
  text-align: center;
  padding: 25px 0px;
  font-family: helvetica;
}

/* line 128, ../sass/style.scss */
#controls {
  position: fixed;
  top: 15px;
  left: 0px;
  z-index: 15;
  color: white;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  width: 100%;
}
/* line 136, ../sass/style.scss */
#controls #logo {
  width: 100px;
  float: left;
}

/* line 141, ../sass/style.scss */
.cHidden {
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

/* line 147, ../sass/style.scss */
#date {
  margin-left: 15px;
}

/* line 150, ../sass/style.scss */
#date, #time {
  padding: 0px 10px;
  line-height: 36px;
  height: 34px;
  font-family: helvetica;
}

/* line 156, ../sass/style.scss */
#date, #backToTop, #time {
  float: left;
  background-color: #e1d7cb;
}

/* line 160, ../sass/style.scss */
#time {
  background-color: #fec0d7;
}

/* line 163, ../sass/style.scss */
#backToTop {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 166, ../sass/style.scss */
#backToTop, #aboutBtn {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: 1px solid #fd7cab;
  float: right;
  opacity: .4;
  border-radius: 50%;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  cursor: pointer;
  cursor: hand;
  box-sizing: border-box;
}
/* line 177, ../sass/style.scss */
#backToTop img, #aboutBtn img {
  width: 70%;
  margin: 14% 15%;
  fill: #fd7cab;
}

/* line 183, ../sass/style.scss */
#aboutBtn {
  margin: 0px 15px 0px 5px;
}

/* line 186, ../sass/style.scss */
#backToTop:hover, #aboutBtn:hover {
  opacity: 1;
}

/* line 189, ../sass/style.scss */
#about {
  position: fixed;
  top: 50%;
  left: -430px;
  width: 400px;
  height: auto;
  padding: 25px 0px;
  z-index: 10;
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
  padding-right: 25px;
  border: 1px solid #fd7cab;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 211, ../sass/style.scss */
#about div {
  width: 80%;
  max-width: 500px;
}
/* line 214, ../sass/style.scss */
#about div img {
  width: 50%;
  margin: auto;
  display: block;
}
/* line 218, ../sass/style.scss */
#about div h3 {
  color: #fd7cab;
  margin-bottom: 15px;
  font-family: helvetica;
  font-size: 1.3em;
}
/* line 223, ../sass/style.scss */
#about div h3 img {
  display: none;
}
/* line 227, ../sass/style.scss */
#about div ul {
  text-align: left;
}
/* line 229, ../sass/style.scss */
#about div ul li {
  width: 20px;
  height: 40px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  cursor: hand;
}
/* line 237, ../sass/style.scss */
#about div ul li img {
  width: 100%;
}
/* line 242, ../sass/style.scss */
#about div p {
  width: 100%;
  color: grey;
  font-family: helvetica;
  line-height: 1.3em;
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 250, ../sass/style.scss */
#about div p:last-child {
  margin-top: 15px;
  font-size: 12px;
  color: grey;
}
/* line 255, ../sass/style.scss */
#about div a {
  color: #fec0d7;
  text-decoration: none;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
/* line 260, ../sass/style.scss */
#about div a:hover {
  color: grey;
}

/* line 265, ../sass/style.scss */
#about.open {
  left: 0%;
}

/* line 268, ../sass/style.scss */
.wrapper {
  width: 100%;
}
/* line 270, ../sass/style.scss */
.wrapper > div {
  width: 100%;
  font-family: helvetica;
  width: 40%;
  margin-bottom: 25px;
  word-break: break-all;
  word-break: break-word;
}
/* line 278, ../sass/style.scss */
.wrapper > div .attachments {
  float: left;
  margin-top: 15px;
}
/* line 282, ../sass/style.scss */
.wrapper > div h1 {
  font-size: 1em;
  font-weight: bold;
  padding: 25px 0px 15px 0px;
  line-height: 1.2em;
}
/* line 288, ../sass/style.scss */
.wrapper > div h2 {
  padding: 0px 2.5%;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 295, ../sass/style.scss */
.wrapper > div p:first-of-type {
  padding: 15px;
}
/* line 298, ../sass/style.scss */
.wrapper > div p {
  font-size: .85em;
  line-height: 1.3em;
  padding: 0px 15px 15px 15px;
  color: white;
  position: relative;
}
/* line 304, ../sass/style.scss */
.wrapper > div p a {
  display: inline-block;
  word-wrap: break-word;
}
/* line 308, ../sass/style.scss */
.wrapper > div p ul {
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 312, ../sass/style.scss */
.wrapper > div p ul li a {
  color: grey;
}
/* line 318, ../sass/style.scss */
.wrapper > div span {
  width: 100px;
  height: 100px;
  display: block;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-bottom: 15px;
}
/* line 324, ../sass/style.scss */
.wrapper > div span img {
  width: 100%;
  height: 100%;
}
/* line 330, ../sass/style.scss */
.wrapper .gchat {
  width: 30%;
}
/* line 332, ../sass/style.scss */
.wrapper .gchat p:last-of-type:after {
  content: '';
  position: absolute;
  bottom: 15px;
  right: 0px;
  z-index: 0;
  width: 0;
  height: 0;
  -moz-transform: translate(0%, 100%);
  -o-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}
/* line 343, ../sass/style.scss */
.wrapper .gchat.left {
  margin-left: 20%;
}
/* line 347, ../sass/style.scss */
.wrapper > div.left a {
  color: #e1d7cb;
}
/* line 350, ../sass/style.scss */
.wrapper > div.left h1 {
  border-top: 2px solid pink;
}
/* line 356, ../sass/style.scss */
.wrapper > div.right a, .wrapper > div.middle a {
  color: #fec0d7;
}
/* line 359, ../sass/style.scss */
.wrapper > div.right h1, .wrapper > div.middle h1 {
  border-top: 2px solid #7bccf6;
}
/* line 364, ../sass/style.scss */
.wrapper > div.someone h1 {
  border-top: 2px solid grey;
}
/* line 368, ../sass/style.scss */
.wrapper > div:last-child {
  padding-bottom: 0px;
}
/* line 371, ../sass/style.scss */
.wrapper .left.np-previous {
  opacity: .6;
}
/* line 373, ../sass/style.scss */
.wrapper .left.np-previous p {
  background-color: #c7b29a;
  color: white;
  border: none;
}
/* line 378, ../sass/style.scss */
.wrapper .left.np-previous p:after {
  opacity: 1;
  bottom: 2px;
  -moz-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
/* line 384, ../sass/style.scss */
.wrapper .left.np-current {
  opacity: 1;
}
/* line 386, ../sass/style.scss */
.wrapper .left.np-current p {
  background-color: #c7b29a;
  color: white;
  border: none;
}
/* line 391, ../sass/style.scss */
.wrapper .left.np-current p:after {
  opacity: 1;
  bottom: 2px;
  -moz-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
/* line 397, ../sass/style.scss */
.wrapper .right.np-previous {
  opacity: .6;
}
/* line 399, ../sass/style.scss */
.wrapper .right.np-previous p {
  background-color: #fd7cab;
  color: white;
  border: none;
}
/* line 404, ../sass/style.scss */
.wrapper .right.np-previous p:after {
  opacity: 1;
  bottom: 2px;
  -moz-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
/* line 410, ../sass/style.scss */
.wrapper .right.np-current {
  opacity: 1;
}
/* line 412, ../sass/style.scss */
.wrapper .right.np-current p {
  background-color: #fd7cab;
  color: white;
  border: none;
}
/* line 417, ../sass/style.scss */
.wrapper .right.np-current p:after {
  opacity: 1;
  bottom: 2px;
  -moz-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
/* line 423, ../sass/style.scss */
.wrapper .left, .wrapper .right {
  -webkit-transition: all 450ms ease-out;
  -moz-transition: all 450ms ease-out;
  -ms-transition: all 450ms ease-out;
  -o-transition: all 450ms ease-out;
  transition: all 450ms ease-out;
}
/* line 425, ../sass/style.scss */
.wrapper .left p, .wrapper .left p:after, .wrapper .right p, .wrapper .right p:after {
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
/* line 431, ../sass/style.scss */
.wrapper .left {
  margin-left: 10%;
  margin-right: 30%;
  clear: both;
  opacity: .3;
}
/* line 436, ../sass/style.scss */
.wrapper .left p {
  background-color: #c7b29a;
  color: white;
  border: none;
}
/* line 441, ../sass/style.scss */
.wrapper .left p:after {
  border-top: 15px solid #c7b29a;
  border-right: 15px solid transparent;
  border-left: none;
  left: 0px;
  right: auto;
  opacity: 0;
}
/* line 448, ../sass/style.scss */
.wrapper .left h2 {
  color: #c7b29a;
  clear: both;
}
/* line 452, ../sass/style.scss */
.wrapper .left span {
  float: right;
  -moz-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
/* line 457, ../sass/style.scss */
.wrapper .right {
  margin-right: 10%;
  margin-left: 50%;
  opacity: .3;
}
/* line 461, ../sass/style.scss */
.wrapper .right p {
  background-color: #fd7cab;
  box-sizing: border-box;
  color: white;
  position: relative;
  z-index: 1;
}
/* line 468, ../sass/style.scss */
.wrapper .right p:after {
  border-top: 15px solid #fd7cab;
  opacity: 0;
  border-left: 15px solid transparent;
  border-right: none;
}
/* line 475, ../sass/style.scss */
.wrapper .right h2 {
  color: #fd7cab;
}
/* line 479, ../sass/style.scss */
.wrapper .middle {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  z-index: 1;
  position: relative;
}

@media (max-width: 640px) {
  /* line 488, ../sass/style.scss */
  #header {
    height: 100%;
  }
  /* line 490, ../sass/style.scss */
  #header h1 {
    font-size: 18vw;
  }

  /* line 495, ../sass/style.scss */
  .wrapper .left, .wrapper .right, .wrapper .middle {
    width: 80%;
    margin-left: 10%;
  }
  /* line 499, ../sass/style.scss */
  .wrapper .middle {
    float: left;
  }
  /* line 503, ../sass/style.scss */
  .wrapper > div > div {
    padding-bottom: 50px;
  }
  /* line 506, ../sass/style.scss */
  .wrapper > div span {
    width: 100px;
    height: 100px;
    display: block;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0px auto 15px auto;
  }
  /* line 512, ../sass/style.scss */
  .wrapper > div span img {
    width: 100%;
    height: 100%;
  }
  /* line 519, ../sass/style.scss */
  .wrapper .left span {
    clear: both;
    float: none;
    -moz-transform: translate(0%, 0);
    -o-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
  /* line 525, ../sass/style.scss */
  .wrapper .gchat.left {
    margin-left: 10%;
  }

  /* line 529, ../sass/style.scss */
  #about {
    width: 100%;
    left: -120%;
  }
  /* line 532, ../sass/style.scss */
  #about div {
    width: 70%;
  }
}
